                                       WEB SCRAPING-ASSIGNMENT3

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\admin\anaconda3\lib\site-packages (4.17.2)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\admin\anaconda3\lib\site-packages (from selenium) (4.9.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: cffi>=1.14 in c:\users\admin\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\admin\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\admin\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\admin\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\admin\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
import warnings
warnings.filterwarnings('ignore')
import requests
from selenium.webdriver.common.by import By

In [3]:
driver = webdriver.Chrome()

1. Write a python program which searches all the product under a particular product from www.amazon.in. The product to be searched will be taken as input from user. For e.g. If user input is ‘guitar’. Then search for guitars.

In [19]:
web = driver.get('http://www.amazon.in/')

In [20]:
search = driver.find_element(By.XPATH,'//input[@type="text"]')
search.send_keys('Guitar')

In [21]:
search_1 = driver.find_element(By.XPATH,'//input[@id="nav-search-submit-button"]')
search_1.click()

2. In the above question, now scrape the following details of each product listed in first 3 pages of your search results and save it in a data frame and csv. In case if any product has less than 3 pages in search results then scrape all the products available under that product name. Details to be scraped are: "Brand
Name", "Name of the Product", "Price", "Return/Exchange", "Expected Delivery", "Availability" and
“Product URL”. In case, if any of the details are missing for any of the product then replace it by “-“.

In [9]:
url = []
start = 0
end = 3
for page in range(start,end):
    url_1 = driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-4"]/a')
    for i in url_1:
        url.append(i.get_attribute('href'))
        next_button = driver.find_elements(By.XPATH,'//a[@class="s-pagination-item s-pagination-next s-pagination-button s-pagination-separator"]')

In [11]:
BN = []
NOP = []
price = []
exch = []
deliver = []
available = []

In [22]:
for i in url:
    driver.get(i)
    time.sleep(5)
    try:
        B_name = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[5]/div[3]/div[4]/div[48]/div/table/tbody/tr[1]/td[2]/span')
        BN.append(B_name.text)
    except NoSuchElementException :
        BN.append('-')

In [23]:
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        name = driver.find_element(By.XPATH,'//span[@class="a-size-large product-title-word-break"]')
        NOP.append(name.text)
    except NoSuchElementException :
        NOP.append('-')

In [12]:
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        pr = driver.find_element(By.XPATH,'//span[@class="a-price-whole"]')
        price.append(pr.text)
    except NoSuchElementException :
        price.append('-')

In [24]:
 for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        ex = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[6]/div[3]/div[4]/div[23]/div[2]/div/div/div/div[2]/div/ol/li[3]/div/span/div[2]/span')
        exch.append(ex.text)
    except NoSuchElementException :
        exch.append('-')

In [26]:
for i in url:
    driver.get(i)
    time.sleep(3)
    try: 
        delivery = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[6]/div[3]/div[1]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[4]/div/div[3]/div[10]/div[1]/div/div/div/span/span')
        deliver.append(delivery.text)
    except NoSuchElementException :
        deliver.append('-')

In [25]:
for i in url:
    driver.get(i)
    time.sleep(3)
    try:
        avi = driver.find_element(By.XPATH,'/html/body/div[2]/div/div[6]/div[3]/div[1]/div[3]/div/div[1]/div/div/div/form/div/div/div/div/div[4]/div/div[5]/div/div[1]/span')
        available.append(avi.text)
    except NoSuchElementException :
        available.append('-')

In [27]:
print(len(BN),len(NOP),len(price),len(exch),len(deliver),len(available),len(url))

291 195 195 195 195 195 195

In [28]:
Data = ({"Brand Name":BN[:195],
        "Name of the Product":NOP,
        "Price":price,
        "Return/Exchange":exch,
        "Expected Delivery":deliver,
        "Availability":available,
        "Product URL":url})

In [29]:
df = pd.DataFrame(Data)

In [30]:
df

,Brand Name,Name of the Product,Price,Return/Exchange,Expected Delivery,Availability,Product URL
0,Kadence,Kadence Frontier guitar with Online Guitar lea...,"4,499",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
1,Kadence,"Kadence rosewood Guitar Frontier Series, Elect...","5,499",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
2,Kadence,Kadence Slowhand Premium Jumbo Semi Acoustic G...,"9,999",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
3,ENYA,Enya Nova Go Carbon Fiber Acoustic Guitar 1/2 ...,"14,805",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
4,Intern,"Intern INT-38C Right hand Acoustic Guitar Kit,...","2,099",-,-,-,https://www.amazon.in/Intern-INT-38C-Acoustic-...
...,...,...,...,...,...,...,...
190,-,"Juârez Acoustic Guitar, 38 Inch Cutaway, JRZ38...","2,489",7 days Replacement,"Sunday, 18 February",In stock,https://www.amazon.in/Juarez-Acoustic-Guitar-C...
191,Kadence,chiransi String Acoustic Guitar // Learning To...,699,-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
192,Intern,ROCKON 41 INCHES ACOUSTIC GUITAR WITH HARD THE...,"8,979",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
193,JUAREZ,"PS Signature 41inch RoseWood Acoustic Guitar, ...","3,899",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...
194,Intern,"BLUEBERRY B-D38, Acoustic Guitar Kit Inbuilt T...","2,890",-,-,-,https://www.amazon.in/sspa/click?ie=UTF8&spc=M...

3. Write a python program to access the search bar and search button on images.google.com and scrape 10 images each for keywords ‘fruits’, ‘cars’ and ‘Machine Learning’, ‘Guitar’, ‘Cakes’.

In [62]:
web_1 = driver.get('http://www.images.google.com/')

In [63]:
fru = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
fru.send_keys('Fruits images')
cli = driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
cli.click()

In [64]:
Fruit = []
Cars = []
Machine = []
Guitar = []
Cake = []

In [65]:
frui = driver.find_elements(By.XPATH,'//div[@class="fR600b islir"]/img')
for i in frui:
    Fruit.append(i.get_attribute('src'))

In [66]:
driver.quit()

In [67]:
driver = webdriver.Chrome()
web_1 = driver.get('http://www.images.google.com/')

In [68]:
car = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
car.send_keys('Top 10 Cars')
cli = driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
cli.click()

In [69]:
car = driver.find_elements(By.XPATH,'//div[@class="fR600b islir"]/img')
for i in car:
    Cars.append(i.get_attribute('src'))

In [70]:
driver.quit()

In [71]:
driver = webdriver.Chrome()

In [72]:
web_1 = driver.get('http://www.images.google.com/')

In [74]:
man = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
man.send_keys('Mashine Learning')
cli = driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
cli.click()

In [75]:
Man = driver.find_elements(By.XPATH,'//div[@class="fR600b islir"]/img')
for i in Man:
    Machine.append(i.get_attribute('src'))

In [76]:
driver.quit()

In [77]:
driver = webdriver.Chrome()
web_1 = driver.get('http://www.images.google.com/')

In [78]:
git = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
git.send_keys('Guitar')
cli = driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
cli.click()

In [80]:
gita = driver.find_elements(By.XPATH,'//div[@class="fR600b islir"]/img')
for i in gita:
    Guitar.append(i.get_attribute('src'))

In [82]:
driver.quit()

In [83]:
driver = webdriver.Chrome()
web_1 = driver.get('http://www.images.google.com/')

In [84]:
cak = driver.find_element(By.XPATH,'/html/body/div[1]/div[3]/form/div[1]/div[1]/div[1]/div/div[2]/textarea')
cak.send_keys('Cake')
cli = driver.find_element(By.XPATH,'//span[@class="z1asCe MZy1Rb"]')
cli.click()

In [85]:
cake = driver.find_elements(By.XPATH,'//div[@class="fR600b islir"]/img')
for i in cake:
    Cake.append(i.get_attribute('src'))

In [86]:
Data = ({"Fruits":Fruit[:10],
        "Cars":Cars[:10],
        "Machine Learning":Machine[:10],
        "Guitar":Guitar[:10],
        "Cake":Cake[:10]})

In [87]:
Df = pd.DataFrame(Data)

In [88]:
Df

,Fruits,Cars,Machine Learning,Guitar,Cake
0,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
1,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
2,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
3,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
4,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
5,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
6,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
7,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
8,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."
9,"data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA...","data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQA..."

In [89]:
driver.quit()

4. Write a python program to search for a smartphone(e.g.: Oneplus Nord, pixel 4A, etc.) on www.flipkart.com and scrape following details for all the search results displayed on 1st page. Details to be scraped: “Brand Name”, “Smartphone name”, “Colour”, “RAM”, “Storage(ROM)”, “Primary Camera”,
“Secondary Camera”, “Display Size”, “Battery Capacity”, “Price”, “Product URL”. Incase if any of the details is missing then replace it by “- “. Save your results in a dataframe and CSV.

In [207]:
driver = webdriver.Chrome()
web = driver.get('https://www.flipkart.com/mobile-phones-store?fm=neo%2Fmerchandising&iid=M_0106dff4-46bb-4ce1-bd37-eebde8c042bf_1_372UD5BXDFYS_MC.ZRQ4DKH28K8J&otracker=hp_rich_navigation_2_1.navigationCard.RICH_NAVIGATION_Mobiles_ZRQ4DKH28K8J&otracker1=hp_rich_navigation_PINNED_neo%2Fmerchandising_NA_NAV_EXPANDABLE_navigationCard_cc_2_L0_view-all&cid=ZRQ4DKH28K8J')

In [208]:
phone = driver.find_element(By.XPATH,'//input[@class="_3704LK"]')
phone.send_keys('Oneplus Nord pixel 4A,')
click = driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]')
click.click()

In [209]:
Brand_Name = []
Colour = []
Storage = []
P_C = []
Display = []
Battery = []
Price = []
P_url = []

In [210]:
b_name = driver.find_elements(By.XPATH,'//div[@class="_4rR01T"]')
for i in b_name:
    Brand_Name.append(i.text)

In [211]:
stor = driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]/li[1]')
for i in stor:
    Storage.append(i.text)

In [212]:
cam = driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]/li[3]')
for i in cam:
    P_C.append(i.text)

In [213]:
dis = driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]/li[2]')
for i in dis:
    Display.append(i.text)

In [214]:
battery = driver.find_elements(By.XPATH,'//ul[@class="_1xgFaf"]/li[4]')
for i in battery:
    Battery.append(i.text)

In [215]:
price = driver.find_elements(By.XPATH,'//div[@class="_30jeq3 _1_WHN1"]')
for i in price:
    Price.append(i.text)

In [216]:
url = driver.find_elements(By.XPATH,'//a[@class="_1fQZEK"]')
for i in url:
    P_url.append(i.get_attribute('href'))

In [217]:
Data = ({"Brand Name": Brand_Name,
"RAM & Storage(ROM)": Storage,
"Primary Camera": P_C,
"Display Size": Display,
"Battery Capacity": Battery,
"Price": Price,
"Product URL": P_url})

In [218]:
Df = pd.DataFrame(Data)

In [219]:
Df

,Brand Name,RAM & Storage(ROM),Primary Camera,Display Size,Battery Capacity,Price,Product URL
0,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)",8 GB RAM | 128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹21,780",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
1,"OnePlus Nord (Blue Marble, 64 GB)",6 GB RAM | 64 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹22,980",https://www.flipkart.com/oneplus-nord-blue-mar...
2,"OnePlus Nord (Gray Onyx, 64 GB)",6 GB RAM | 64 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹22,689",https://www.flipkart.com/oneplus-nord-gray-ony...
3,"OnePlus Nord (Blue Marble, 128 GB)",8 GB RAM | 128 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹24,790",https://www.flipkart.com/oneplus-nord-blue-mar...
4,"OnePlus Nord (Gray Onyx, 128 GB)",8 GB RAM | 128 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹24,600",https://www.flipkart.com/oneplus-nord-gray-ony...
5,"OnePlus Nord (Blue Marble, 256 GB)",12 GB RAM | 256 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹21,999",https://www.flipkart.com/oneplus-nord-blue-mar...
6,"OnePlus Nord (Gray Onyx, 256 GB)",12 GB RAM | 256 GB ROM,48MP + 8MP | 32MP + 8MP Dual Front Camera,16.36 cm (6.44 inch) Full HD+ Display,4115 mAh Battery,"₹22,999",https://www.flipkart.com/oneplus-nord-gray-ony...
7,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)",8 GB RAM | 128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹17,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
8,"OnePlus Nord CE 2 5G (Gray Mirror, 128 GB)",6 GB RAM | 128 GB ROM,64MP Rear Camera | 16MP Front Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹19,999",https://www.flipkart.com/oneplus-nord-ce-2-5g-...
9,"OnePlus Nord CE 2 5G (Bahama Blue, 128 GB)",6 GB RAM | 128 GB ROM,64MP Rear Camera,16.33 cm (6.43 inch) Display,4500 mAh Battery,"₹23,499",https://www.flipkart.com/oneplus-nord-ce-2-5g-...

5. Write a program to scrap geospatial coordinates (latitude, longitude) of a city searched on google maps.

In [224]:
driver = webdriver.Chrome()
web = driver.get('https://google.co.in/maps')

In [221]:
city = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[8]/div[3]/div[1]/div[1]/div/div[2]/form/input")
city.send_keys('Nashik')

In [222]:
search = driver.find_element(By.XPATH,'//div[@class="pzfvzf"]')
search.click()

6. Write a program to scrap all the available details of best gaming laptops from digit.in.

In [3]:
driver = webdriver.Chrome()
web = driver.get('https://digit.in/')

In [4]:
find = driver.find_element(By.XPATH,'/html/body/div[5]/div/form/input[1]')
find.send_keys('Gaming laptops')

In [6]:
click = driver.find_element(By.XPATH,'/html/body/div[5]/div/form/button/i')
click.click()

In [23]:
Product_Name = []
Product_url = []

In [26]:
P_url = driver.find_elements(By.XPATH,'//h3[@class=" text-clamp text-clamp-2"]/a')
for i in P_url:
    Product_url.append(i.get_attribute('href'))

In [24]:
name = driver.find_elements(By.XPATH,'//h3[@class=" text-clamp text-clamp-2"]/a')
for i in name:
    Product_Name.append(i.text)

In [27]:
len(Product_Name),len(Product_url)

(6, 6)

In [29]:
data = ({"Product Name": Product_Name,
        "Product Url": Product_url})

In [31]:
df = pd.DataFrame(data)

In [32]:
df

,Product Name,Product Url
0,Lenovo IdeaPad Gaming 3 15IAH7,https://www.digit.in/laptops/lenovo-ideapad-ga...
1,Lenovo IdeaPad Gaming 3i,https://www.digit.in/laptops/lenovo-ideapad-ga...
2,Alienware x14 Gaming Laptop,https://www.digit.in/laptops/alienware-x14-gam...
3,MSI Gaming Raider,https://www.digit.in/laptops/msi-gaming-raider...
4,Lenovo Legion 7,https://www.digit.in/laptops/lenovo-legion-7-r...
5,Dell 15 (2021) i5-10200H,https://www.digit.in/laptops/dell-15-2021-i5-1...

7. Write a python program to scrape the details for all billionaires from www.forbes.com. Details to be scrapped: “Rank”, “Name”, “Net worth”, “Age”, “Citizenship”, “Source”, “Industry”.

In [37]:
driver = webdriver.Chrome()
web = driver.get('https://www.forbes.com/billionaires/')

In [38]:
Rank = []
Name = []
Net_worth = []
Age = []
Citizen = []
Source = []
Industry = []

In [39]:
rank = driver.find_elements(By.XPATH,'//div[@class="Table_rank___YBhk Table_dataCell__2QCve"]')
for i in rank:
    Rank.append(i.text)

In [40]:
name = driver.find_elements(By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"][2]/div')
for i in name:
    Name.append(i.text)

In [41]:
net = driver.find_elements(By.XPATH,'//div[@class="Table_netWorth___L4R5 Table_dataCell__2QCve"]')
for i in net:
    Net_worth.append(i.text)

In [42]:
age = driver.find_elements(By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"][4]/div')
for i in age:
    Age.append(i.text)

In [43]:
citizen = driver.find_elements(By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"][5]')
for i in citizen:
    Citizen.append(i.text)

In [44]:
source = driver.find_elements(By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"][6]/div')
for i in source:
    Source.append(i.text)

In [45]:
industry = driver.find_elements(By.XPATH,'//div[@class="TableRow_cell__db-hv Table_cell__houv9"][7]/div')
for i in industry:
    Industry.append(i.text)

In [46]:
len(Rank),len(Name),len(Net_worth),len(Age),len(Citizen),len(Source),len(Industry)

(200, 200, 200, 200, 200, 200, 200)

In [47]:
Data = ({"Rank":Rank,
        "Name":Name,
        "Net worth":Net_worth,
        "Age":Age,
        "Citizen":Citizen,
        "Source":Source,
        "Industry":Industry})

In [48]:
Df = pd.DataFrame(Data)

In [49]:
Df

,Rank,Name,Net worth,Age,Citizen,Source,Industry
0,1,Bernard Arnault & family,$211 B,74,France,LVMH,
1,2,Elon Musk,$180 B,51,United States,"Tesla, SpaceX",
2,3,Jeff Bezos,$114 B,59,United States,Amazon,
3,4,Larry Ellison,$107 B,78,United States,Oracle,
4,5,Warren Buffett,$106 B,92,United States,Berkshire Hathaway,
...,...,...,...,...,...,...,...
195,195,Jin Baofang,$9.6 B,70,China,Solar panels,
196,195,Luo Liguo & family,$9.6 B,67,China,Chemicals,
197,195,Marijke Mars,$9.6 B,58,United States,"Candy, pet food",
198,195,Pamela Mars,$9.6 B,62,United States,"Candy, pet food",
199,195,Valerie Mars,$9.6 B,64,United States,"Candy, pet food",

8. Write a program to extract at least 500 Comments, Comment upvote and time when comment was posted from any YouTube Video.

In [59]:
driver = webdriver.Chrome()
web = driver.get('https://www.youtube.com/watch?v=lfm0YxncybE')

In [65]:
Name = []
Comment = []
day_time = []

In [70]:
name = driver.find_elements(By.XPATH,'//h3[@class="style-scope ytd-comment-renderer"]')
for i in name:
    Name.append(i.text)

In [71]:
day = driver.find_elements(By.XPATH,'//yt-formatted-string[@class="published-time-text style-scope ytd-comment-renderer"]')
for i in day:
    day_time.append(i.text)

In [72]:
comment = driver.find_elements(By.XPATH,'//div[@class="style-scope ytd-expander"]/yt-formatted-string')
for i in comment:
    Comment.append(i.text)

In [73]:
len(Name),len(Comment),len(day_time)

(520, 520, 520)

In [74]:
data = ({"Name": Name,
        "Comment":Comment,
        "Day":day_time})

In [75]:
df = pd.DataFrame(data)

In [76]:
df

,Name,Comment,Day
0,@zameerkhan553,Security form insan gaming with mayank's world,2 days ago
1,@mohd_lvl_zaid.,Let's vote for next episode 2 hours,2 days ago
2,@Bhai_40gaming,Let's vote for every Sunday 1.5 hours episode,2 days ago
3,@Aklover001,Mujhe koi like mat dena,2 days ago (edited)
4,@Rinku-rj5do,We need more with Mayank bhaiya,2 days ago
...,...,...,...
515,@anilravalofficial6510,Bhai 300 security lao,19 hours ago
516,@awaisawais6320,Los Santos ki police to strong karo,1 day ago
517,@king91king91,Mayank or shubham bhai opp,2 days ago
518,@mdishan8513,Iss car ko modified karo,1 day ago
519,@Bhanu-hb9mg,Mayank. Bhai apni video ma chal bhi nahi pare ...,2 days ago

9. Write a python program to scrape a data for all available Hostels from https://www.hostelworld.com/ in “London” location. You have to scrape hostel name, distance from city centre, ratings, total reviews, overall reviews, privates from price, dorms from price, facilities and property description.

In [181]:
driver = webdriver.Chrome()
web = driver.get('https://www.hostelworld.com/')

In [182]:
search = driver.find_element(By.XPATH,'//div[@class="input-wrapper"]/input[1]')
search.send_keys('London,England')

In [183]:
click = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[2]/div/div/div/div[5]/button[1]')
click.click()

In [184]:
Hostel = []
dis = []
rat = []
review = []
pp = []
des = []

In [185]:
Url = []
start = 0
end = 3
for page in range(start,end):
    url = driver.find_elements(By.XPATH,'//a[@class="property-card-container horizontal"]')
    for i in url:
        Url.append(i.get_attribute('href'))
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [186]:
start = 0
end = 3
for page in range(start,end):
    hos = driver.find_elements(By.XPATH,'//div[@class="property-name"]/span')
    for i in hos:
        Hostel.append(i.text)
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [187]:
start = 0
end = 3
for page in range(start,end):
    Dis = driver.find_elements(By.XPATH,'//div[@class="property-distance"]')
    for i in Dis:
        dis.append(i.text)
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [188]:
start = 0
end = 3
for page in range(start,end):
    Rat = driver.find_elements(By.XPATH,'//span[@class="number"]')
    for i in Rat:
        rat.append(i.text)
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [189]:
start = 0
end = 3
for page in range(start,end):
    rev = driver.find_elements(By.XPATH,'//span[@class="left-margin"]')
    for i in rev:
        review.append(i.text)
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [190]:
start = 0
end = 3
for page in range(start,end):
    PP = driver.find_elements(By.XPATH,'//div[@class="property-accommodation-prices"]')
    for i in PP:
        pp.append(i.text.replace('\n',""))
        next_button = driver.find_elements(By.XPATH,'/html/body/div[3]/div/div/div[2]/div[2]/div[1]/div/div/div[5]/div/button[2]')

In [191]:
len(Hostel),len(dis),len(rat),len(review),len(pp),len(Url)

(90, 90, 99, 90, 90, 90)

In [192]:
for i in Url:
    driver.get(i)
    time.sleep(3)
    try: 
        Des = driver.find_element(By.XPATH,'/html/body/div[3]/div/div/div[2]/section/div[8]/div/div[2]/div[3]/div/div[2]')
        des.append(Des.text)
    except NoSuchElementException :
        des.append('-')

In [193]:
len(des)

90

In [194]:
data_1 = ({"Hotel Name":Hostel,
          "Distance from city centre":dis,
          "Rating":rat[:90],
          "Total Review":review,
          "Private and Dorms price":pp,
          "Property Description":des,
          "Hotel Url":Url})

In [195]:
Df = pd.DataFrame(data_1)
Df

,Hotel Name,Distance from city centre,Rating,Total Review,Private and Dorms price,Property Description,Hotel Url
0,Wombat's City Hostel London,Hostel\n- 3.6km from city centre,9.1,(15929),"-30%Privates From₹15,166₹10,616-30%Dorms From₹...",A safe haven in the middle of the metropolis: ...,https://www.hostelworld.com/pwa/hosteldetails....
1,Palmers Lodge - Swiss Cottage,Hostel\n- 6.5km from city centre,8.8,(15982),"No Privates Available-26%Dorms From₹2,822₹2,089",-,https://www.hostelworld.com/pwa/hosteldetails....
2,St Christopher's Village,Hostel\n- 1.8km from city centre,7.8,(12882),"No Privates Available-10%Dorms From₹1,497₹1,347",-,https://www.hostelworld.com/pwa/hosteldetails....
3,Urbany Hostel London,Hostel\n- 5.4km from city centre,9.1,(1131),"Privates From₹7,602Dorms From₹2,255","Welcome to Urbany Hostel London, our first int...",https://www.hostelworld.com/pwa/hosteldetails....
4,Onefam Notting Hill,Hostel\n- 5.5km from city centre,8.8,(2608),"Privates From₹8,019Dorms From₹2,399",The perfect place for solo travelers to connec...,https://www.hostelworld.com/pwa/hosteldetails....
...,...,...,...,...,...,...,...
85,Astor Kensington,Hostel\n- 4.9km from city centre,7.7,(6596),"-10%Privates From₹8,815₹7,934-10%Dorms From₹1,...",-,https://www.hostelworld.com/pwa/hosteldetails....
86,St Christopher's Inn - London Bridge,Hostel\n- 1.8km from city centre,9.0,(3605),"No Privates Available-10%Dorms From₹1,846₹1,661",-,https://www.hostelworld.com/pwa/hosteldetails....
87,Astor Victoria,Hostel\n- 1.8km from city centre,7.5,(15100),"-10%Privates From₹9,582₹8,624-10%Dorms From₹1,...",-,https://www.hostelworld.com/pwa/hosteldetails....
88,St Christopher's Hammersmith,Hostel\n- 7.5km from city centre,9.1,(4392),"No Privates Available-10%Dorms From₹1,311₹1,180",-,https://www.hostelworld.com/pwa/hosteldetails....
89,Phoenix Hostel,Hostel\n- 4.2km from city centre,8.7,(4625),"-5%Privates From₹5,834₹5,542-5%Dorms From₹1,45...","The Phoenix Bar & Hostel, housed in a homely E...",https://www.hostelworld.com/pwa/hosteldetails....